# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out*
*.app

# MacOS
*.DS_Store

# Research Docs
resources
*.pdf

# Local Configurations
.vscode

# csv
*.csv

# databases
./db
db/*.db

# dev directories
./bin
./build
./lib
./out
docs/latex

#Documentatino files

# gtest binaries
!libgtest_main.a
!libgtest.a

# metal
extern/metal-cpp
*.ir
*.air
*.metallib