# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out*
*.app

# MacOS
*.DS_Store

# Research Docs
resources
*.pdf

# Local Configurations
.vscode/*
!.vscode/settings.json

# csv
*.csv

# databases
./db
db/*.db

# dev directories
./bin
./build
./lib
./out

#Documentation files
docs/latex

# gtest binaries
!libgtest_main.a
!libgtest.a

# metal
extern/metal-cpp
*.ir
*.air
*.metallib

# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Build artifacts
build/*
